:root {
    --accent: rgb(71, 175, 245);
    --accent-trsp: rgba(71, 175, 245, 0.2);
}
#feed {
    width: 100%;
    height: 100%;
    padding: 1rem;
}
#search-bar-items {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}
#spotify-query {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: #222;
    padding: 1rem;
    font-size: 18px;
    color: white;
}
#spotify-query::placeholder {
    color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
}
#spyglass {
    border-radius: 15px;
    padding: 1rem;
    height: 100%;
    width: 50px;
    background-color: #222;
}
#spyglass svg {
    fill: rgba(255, 255, 255, 0.2);
    transition: fill 0.25s;
}
#spyglass:hover {
    cursor: pointer;
}
#spyglass:hover svg {
    fill: rgba(255, 255, 255, 1);
    transition: fill 0.25s;
}
#leaderboard-links {
    margin-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    height: 50px;
}
#leaderboard-links div:hover {
    border-top: 1px solid var(--accent);
    color: var(--accent);
    background: linear-gradient(180deg, var(--accent-trsp) 0%, rgba(71, 175, 245, 0) 40%, rgba(71, 175, 245, 0) 100%);
    transition: border 0.25s, color 0.25s, background 0.25s;
    cursor: pointer;
}
#leaderboard-links div {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    padding: 0 0.5rem 0;
    height: 100%;
    line-height: 50px;
    color: white;
    border-top: 1px solid transparent;
    transition: border 0.25s, color 0.25s, background 0.25s;
}
#leaderboard-results table {
    width: 100%;
    padding: 0;
    border-spacing: none;
    border-collapse: collapse;
}
#leaderboard-results td:nth-child(6),
#leaderboard-results td:nth-child(7) {
    width: 48px;
    height: 48px;
    text-align: center;
}
#leaderboard-results tr {
    border-left: 1px solid transparent;
    transition: all 0.25s;
    color: rgba(255, 255, 255, 0.5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    vertical-align: middle;
}
#leaderboard-results tr:hover {
    border-left: 1px solid var(--accent);
    background-image: linear-gradient(90deg, var(--accent-trsp) 0%, transparent 25%);
    cursor: pointer;
    transition: all 0.25s;
}
#leaderboard-results {
    margin-bottom: 1rem;
}
#feed-leaderboard {
    margin-bottom: 1rem;
}
.lb-results-table {
    margin-top: 1rem;
    border-spacing: 0;
}
.play-button,
.kebab-button {
    fill: rgba(255, 255, 255, 0.5);
}
.play-button {
    width: 14px;
}
.kebab-button {
    height: 20px;
}

.lb-place {
    width: 50px;
    font-size: 18px;
    font-weight: bold;
}

.lb-followers {
    min-width: 140px;
}
.lb-popularity {
    min-width: 50px;
}
.lb-name {
    padding-left: 4rem;
}

.lb-album,
.lb-cover {
    height: 48px;
    width: 48px;
    background-size: cover;
    margin: 0 auto;
}
.lb-title {
    color: white;
    padding-left: 2rem;
}
.lb-place,
.lb-count-and-duration,
.lb-creation-date,
.play-button,
.kebab-button,
.lb-cover,
.lb-followers,
.lb-popularity {
    text-align: center;
}

a {
    color: white;
}

.skeleton-results {
    border-radius: 15px;
    height: 260px;
    width: 100%;
    background: linear-gradient(135deg, #151515 0%, #222 50%, #151515 100%);
}

.skeleton-stats {
    position: absolute;
    bottom: 0%;
    margin-bottom: 1rem;
    background-color: #222;
    height: 180px;
    width: 98%;
    border-radius: 15px;
}

#feed-stats {
    padding: 1rem;
}

#feed-stats > p {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.flex-stats {
    display: flex;
    justify-content: space-around;
    line-height: 80px;
}
.flex-stats p {
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    color: white;
}

.flex-stats div {
    padding: 1rem;
    font-size: 20px;
}
