#navbar {
    width: 10%;
    height: 100%;
    /* border-right: rgba(255, 255, 255, 0.671) 2px solid; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 45px;
    color: white;
    text-transform: uppercase;
}

#navbar h3 {
    margin-bottom: 70px;
    font-size: 20px;
    margin: 80px 20px;
}

#nav {
    font-size: 25px;
    margin-bottom: 100px;
    position: relative;
}

#navbar h5 {
    margin: 5px;
}

#navbar h6 {
    padding-left: 1rem;
}

#navbar div div {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    padding: 0 0.5rem 0;
    padding-left: 20px;
    color: white;
    border-left: 2px solid transparent;
    transition: border 0.25s, color 0.25s, background 0.25s;
}

#navbar div div:hover {
    border-left: 2px solid var(--accent);
    color: var(--accent);
    background: linear-gradient(to right, rgba(71, 175, 245, 0.2) 0%, rgba(71, 175, 245, 0) 40%, rgba(71, 175, 245, 0) 100%);
    transition: border 0.25s, color 0.25s, background 0.25s;
    cursor: pointer;
}

#nav:first-child {
    height: 100%;
    line-height: 50px;
}

.test div {
    margin-bottom: 10px;
}

#nav {
    display: flex;
    flex-direction: column;
}
